{% extends 'layout.html' %}

{% block body %}
<style type="text/css">
    body{
        background-image: url('static/css/reg.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<body>
	<div class="w3-container w3-flat-emerald">
	  <div class="jumbotron jumbotron-fluid text-center" style="color: red">
	    <h1>Se-Cure</h1>
	    <p class="lead">From It</p>
	  </div>
</div>
</body>
{% endblock %}
