{% extends 'layout.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>SECURE</title>
</head>
{% block body %}
<body>
	<div class="well">
      <ul class="pager">
			<h1>In the beginning</h1>
			<p>1.	Always use a tissue when you cough or sneeze, and then throw it away in a closed plastic bag. Air out your room whenever possible, because it’s easier for the bacteria to breed in small, enclosed spaces that lack fresh air.</p>
			<p>2.	A few weeks into your treatment, you should start to feel better, and your doctor may let you know that you’re no longer infectious.<p> 
			<p>3.	If you think you’ve been exposed to someone with tuberculosis, call your doctor. You may have the disease. If you don’t have a doctor, call your local health department. They’ll give you a TB skin test or special blood test to find out whether you have it.</p>
			<p>4.	If the results show that you do have TB, you’ll have to get treatment. Exactly what that involves will depend on whether you have latent TB infection (LTBI) or active TB disease.</p>
			<p>5.	If you have LTBI, you have TB germs in your body, but they’re not active. So, your doctor might prescribe preventive therapy. This involves medications that’ll keep the germs from “waking up” and spreading.</p>
			<p>6.	If you have active TB disease, your doctor will prescribe several different medicines, which are needed to kill all of the TB bacteria. You’ll take these drugs for at least 6 to 9 months. That’s because it takes at least 6 months for all of the bacteria to die. The most common medications used to treat TB disease are isoniazid, rifampin, ethambutol, and pyrazinamide.</p>
			<p>7.	Be sure to take your medicine exactly as prescribed, for as long as it’s prescribed. If you stop, or don’t take it as ordered, you can get sick again. Not only that, but you run the risk of infecting others. There’s also the risk that the TB could be harder to treat a second time, as the bacteria can become drug-resistant.</p>
			<h2>How Can I Keep Track of All My TB Meds?</h2>
			<p>One way to do it is to get Directly Observed Therapy, or DOT. You’ll meet up with a health care professional a few times a week or possibly every day, at an agreed-upon location. There, you’ll take your medication in front of him. This ensures that you’re not missing doses. It also helps the health care worker to keep an eye out for side effects and answer any questions you might have.</p>
			<p>If DOT isn’t an option for you, it’s important to create a routine around taking your medicines. Here are a few ways you might do that:</p>
			<p>•	Pick a daily activity and take your medicines when you do that activity -- like before or after brushing your </p>teeth, putting in your contact lenses, or eating breakfast</p>
			<p>•	Write an “X” on a calendar each day after you take your meds</p>
			<p>•	Use a weekly pill dispenser</p>
			<p>•	Ask a friend or family member to remind you</p>
		</ul>
	</div>
</body>
{% endblock %}
</html>